<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/comments.css" />
  <title>Comments</title>
</head>

<body>
  <div class="final-wrapper">
    <div class="container">
      <div class="sidebar-column">
        <div class="logo">bit<font style="color: #4285f4">bot.</font>
        </div>
        <ul class="links">
          <li>
            <a href="/forums"><i class="bx bx-home icon"></i><span class="text">Forums</span></a>
          </li>
          <li>
            <a href="/news"><i class="bx bx-news icon"></i><span class="text">News</span></a>
          </li>
          <li>
            <a href="/market"><i class="bx bx-store icon"></i><span class="text">Products</span></a>
          </li>
          <li>
            <% if(currentUser) {%>
            <a href="/logout"><i class="bx bx-log-out icon"></i><span class="text">Log Out</span></a>
            <% } else {%>
            <a href="/login"><i class="bx bx-log-in icon"></i><span class="text">Log In</span></a>
            <% } %>
          </li>
        </ul>
      </div>
      <div class="main-column">
        <div class="post-card">
          <div class="post-header">
            <h3><%= post.title %> </h3>
            <p><%= post.description %> </p>
            <p class="line"></p>
          </div>

          <div class="post-footer">
            <p class="posted-by">
              Posted By
              <a href="/user/<%= post.author._id %> ">
                <font style="color: #4285f4"><%= post.author.username %> </font>
              </a>
            </p>
          </div>
        </div>

        <div class="comment-section">
          <p class="comment-heading">Comments</p>
          <div class="comment-div">
            <ul>
              <% for(let comment of post.comments) {%>
              <li>

                <div class="comment-body">
                  <div class="comment-body-header">
                    <a href="/users/<%= comment.author._id %>"><%= comment.author.username %></a> <br>
                    <%= comment.commentBody %>
                  </div>

                  <div class="icon-area">
                    <% if(!comment.isLikedByUser) {%>
                      <form class="icon-form" id="likeComment" action="/comments/like/<%= comment._id %>" method="post">
                        <i class="bx bxs-like like-icon" onClick="commentForm('likeComment')"></i>
                        <p class="like-count"><%= comment.likeCount %></p>
                      </form>
                      <%} else {%>
                      <form class="icon-form" id="dislikeComment" action="/comments/dislike/<%= comment._id %>" method="post">
                        <i class="bx bxs-dislike dislike-icon" onclick="commentForm('dislikeComment')"></i>
                        <p class="like-count"><%= comment.likeCount %></p>
                      </form>
                      <%}%>
                  </div>
                </div>
              </li>
              <% } %>
            </ul>
          </div>
        </div>

        <div class="add-comment-area">
          <form action="/comments/<%= post._id %>" method="POST">
            <input type="text" id="myCommentInput" name="commentBody" class="comment-input" placeholder="Add Comment" />
            <input class="comment-btn" type="submit" value="Send" />
          </form>
        </div>
      </div>

      <div class="news-profile-column">
        <% if(currentUser) {%>
        <div class="profile">
          <div class="profile-logo"><%= currentUser.username[0] %></div>
          <div class="profile-text">
            <p class="profile-text1"><%= currentUser.username %> </p>
            <p class="profile-text2">
              <%= currentUser.userPosts.length %> posts • <%= currentUser.userComments.length %>
              comments
            </p>
          </div>
          
          <a href="/users/<%= currentUser._id %>">
            <button class="profile-btn" onclick="window.location.href = 'profile.html'">
              View Profile
            </button>
          </a>
        </div>
        <% } %>
        <div class="news">
          <div class="header">
            <p>News</p>
            <a href="/news">View All</a>
          </div>
          <div id="newsFeed" class="news-from-api">
            <% for(let news of newsData) {%>
            <div id="news-data">
              <img src="<%=news.urlToImage %>" id="news-image" alt="">
              <p id='news-headline'><%= news.title %></p>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function commentForm(formId) {
      document.getElementById(formId).submit();
    }
  </script>
</body>

</html>