<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/market.css" />
  <link rel="stylesheet" href="/stylesheets/sidebar.css">
  <link rel="stylesheet" href="/stylesheets/dropdown.css">
  <link rel="stylesheet" href="/stylesheets/ham.css">
  <title>Forums</title>
</head>

<body>
  <div class="final-wrapper">
    <div class="container">
      <div class="sidebar-column">
        <div class="logo">bit<font style="color: #4285f4">bot.</font>
        </div>
        <ul class="links">
          <li>
            <a href="/forums"><i class="bx bx-home icon"></i><span class="text">Forums</span></a>
          </li>
          <li>
            <a href="/news"><i class="bx bx-news icon"></i><span class="text">News</span></a>
          </li>
          <li>
            <a href="/market"><i class="bx bx-store icon"></i><span class="text">Products</span></a>
          </li>
          <li>
            <% if(currentUser) {%>
            <a href="/logout"><i class="bx bx-log-out icon"></i>
              <span class="text">Log Out</span></a>
            <% } else {%>
            <a href="/login"><i class="bx bx-log-in icon"></i>
              <span class="text">Log In</span></a>
            <%} %>
          </li>
        </ul>
      </div>
      
      <div class="main-column">
        <div id="menu" onClick="hamToogle()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        
          <div style="display: flex; flex-direction: column;">
            <p class="heading1">Browse through your favourite products</p>
            <p class="heading2">Assorted products, just for you</p>
          </div>

          <div class="dropdown">
            <button class="dropdown-btn" aria-label="menu button" aria-haspopup="menu" aria-expanded="false" aria-controls="dropdown-menu"><span>Category</span><span class="arrow"></span></button>
            <ul class="dropdown-content" role="menu" id="dropdown-menu">
              <li style="--delay: 1;"><a onclick="showProductGrid(0)" >Smartphone</a></li>
              <li style="--delay: 2;"><a onclick="showProductGrid(1)" >Laptop</a></li>
              <li style="--delay: 3;"><a onclick="showProductGrid(2)" >Tablet</a></li>
              <li style="--delay: 4;"><a onclick="showProductGrid(3)" >Camera</a></li>
            </ul>
          </div>

        <div style="display:flex; justify-content:flex-end; margin-right:2rem;float: right;"><p class="category-curr">Now Showing: <p style="margin-left: 0.2rem; color: #4285f4;" >Smartphones</p></p></div>


        <div id='id1' class="product-grid grid0">
          <% for(let ele of mobileData){ %>
              <div class="card">
                <img class="product-item" src=<%= ele.imageUrl %> />
                <p class="product-name"><%= ele.title %></p>
                <p class="product-name"><%= ele.price %></p>
                <a href=<%= ele.productLink %>>
                  <button class="view-product-btn">
                    <i class="bx bx-plus add-icon"></i>Buy Now
                  </button>
                </a>
              </div>
          <% } %>
        </div>

        <div id='id2' class="product-grid grid1">
          <% for(let ele of laptopData){ %>
              <div class="card">
                <img class="product-item" src=<%= ele.imageUrl %> />
                <p class="product-name"><%= ele.title %></p>
                <p class="product-name"><%= ele.price %></p>
                <a href=<%= ele.productLink %>>
                  <button class="view-product-btn">
                    <i class="bx bx-plus add-icon"></i>Buy Now
                  </button>
                </a>
              </div>
          <% } %>
        </div>

        <div id='id3' class="product-grid grid2">
          <% for(let ele of tabletData){ %>
              <div class="card">
                <img class="product-item" src=<%= ele.imageUrl %> />
                <p class="product-name"><%= ele.title %></p>
                <p class="product-name"><%= ele.price %></p>
                <a href=<%= ele.productLink %>>
                  <button class="view-product-btn">
                    <i class="bx bx-plus add-icon"></i>Buy Now
                  </button>
                </a>
              </div>
          <% } %>
        </div>

        <div id='id4' class="product-grid grid3">
          <% for(let ele of cameraData){ %>
              <div class="card">
                <img class="product-item" src=<%= ele.imageUrl %> />
                <p class="product-name"><%= ele.title %></p>
                <p class="product-name"><%= ele.price %></p>
                <a href=<%= ele.productLink %>>
                  <button class="view-product-btn">
                    <i class="bx bx-plus add-icon"></i>Buy Now
                  </button>
                </a>
              </div>
          <% } %>
        </div>

      </div>
    </div>
  </div>
  <script src="javascripts/market.js"></script>
</body>
</html>